<!-- header.component.html -->
<div class="header">
  <div>
    <img src="assets/og-image.png" alt="Logo" />
  </div>

  <div class="profile">
    <img [src]="usuario.fotoPerfil" alt="Foto de perfil" />
    <span>{{usuario.nombre}}</span>
  </div>

  <div class="buttons">
    <button routerLink="/home" routerLinkActive="active">Home</button>
  </div>
  <div class="buttons">
    <button routerLink="/login" routerLinkActive="active">Cerrar sesión</button>
  </div>
  <button mat-icon-button [matMenuTriggerFor]="notificationsMenu">
    <mat-icon>notifications</mat-icon>
    <mat-badge [matBadge]="notificationCount" matBadgeColor="accent"></mat-badge>
  </button>
  <mat-menu #notificationsMenu="matMenu">
    <ng-container *ngIf="notifications.length > 0; else noNotifications">
      <button mat-menu-item *ngFor="let notification of notifications">{{ notification.message }}
        {{notification.createdAt | date: 'dd/MM/yyyy HH:mm'}}</button>
    </ng-container>
    <ng-template #noNotifications>
      <span mat-menu-item>No hay notificaciones</span>
    </ng-template>
  </mat-menu>
</div>
