<app-header></app-header>
<div class="amigo-cards">
  <div *ngFor="let amigo of amigos" class="amigo-card">
    <!-- Muestra la imagen de carga mientras se está descargando la imagen real -->
    <ng-container *ngIf="!imagenesCargadas[amigo.imagen]">
      <div class="imagen-carga"></div>
    </ng-container>

    <img [src]="amigo.imagen" alt="{{ amigo.nombre }}" width="200" height="200" style="border-radius: 50%;" (load)="cargarImagen(amigo)">

    <div class="amigo-info">
      <h4>{{ amigo.nombre }}</h4>
      <!-- Puedes agregar más información sobre el amigo aquí -->
      <button >Ver perfil</button>
    </div>
  </div>
</div>
