<app-header></app-header>

<div class="post-container">
    <form (ngSubmit)="onSubmit()" enctype="multipart/form-data">
        <div class="user-info">
            <img [src]="profile.image" alt="Usuario" class="profile-pic"/>
            <span class="user-name">{{ profile.name }}</span>
        </div>
        <div class="form-group">
    <textarea class="post-textarea" type="text" id="content" name="content" [(ngModel)]="formData.content" required
              placeholder="¿En qué estás pensando?"></textarea>
        </div>
        <!-- post-component.component.html -->
        <div class="file-upload-container">
            <label for="Resource" class="custom-file-upload">
                <span>Cargar Imagen</span>
            </label>
            <input type="file" id="Resource" name="Resource" accept="image/*" required (change)="onFileChange($event)"
                   class="input-file"/>
            <img *ngIf="formData.imageSrc" [src]="formData.imageSrc" alt="Imagen seleccionada" class="uploaded-image"/>
        </div>

        <button class="post-button" type="submit">Publicar</button>
    </form>


    <div class="post-list">
        <h2>Publicaciones Recientes</h2>
        <div *ngFor="let post of posts" class="post-item">
            <div>
                <div class="user-info">
                    <img [src]="post.profile.image" alt="{{ post.profile.name }}" class="profile-pic"/>
                    <span class="user-name">{{ post.profile.name }}</span>
                </div>
                <p>{{ post.content }}</p>
                <img *ngIf="post.urlResource" [src]="post.urlResource" alt="Imagen" class="post-image"/>
                <p>Fecha publicación: {{ post.createdAt | date: 'dd/MM/yyyy HH:mm' }}</p>
                <div class="post-actions">
                    <button mat-icon-button (click)="onLike(post)">
                        <span class="material-icons interactions">thumb_up</span>
                        {{ post.likes.length }}
                    </button>
                    <button mat-icon-button (click)="onDislike(post)">
                        <span class="material-icons">thumb_down</span>
                        {{ post.dislikes.length }}
                    </button>
                </div>
                <div class="comment-section">
                    <div class="user-info">
                        <img [src]="profile.image" alt="Usuario" class="profile-pic"/>
                        <span class="user-name">{{ profile.name }}</span>
                    </div>
                    <form (ngSubmit)="onComment(post)" enctype="multipart/form-data">
                        <mat-form-field appearance="fill" class="comment-textarea">
                            <textarea name="content" matInput [(ngModel)]="formCommentData.content"
                                      placeholder="Escribe un comentario"></textarea>
                        </mat-form-field>
                      <!--  <div class="file-upload-container">
                            <label for="Resource" class="custom-file-upload">
                                <span>Cargar Imagen</span>
                            </label>
                            <input type="file" id="ResourceComment" name="ResourceComment" accept="image/*" required
                                   (change)="onFileChangeComment($event)"
                                   class="input-file"/>
                            <img *ngIf="formCommentData.imageSrc" [src]="formCommentData.imageSrc" alt="Imagen seleccionada"
                                 class="uploaded-image"/>
                        </div>-->
                    <button mat-raised-button color="primary"  type="submit">Comentar</button>

                    </form>

                    <div class="comment-list">
                        <div *ngFor="let comment of post.comments" class="comment-item">
                            <div class="user-info">
                                <img [src]="comment.profile.image" alt="{{ comment.profile.name }}" class="profile-pic"/>
                                <span class="user-name">{{ comment.profile.name }}</span>
                            </div>
                            <p>{{ comment.content }}</p>
                            <p>Fecha publicación: {{ comment.createdAt | date: 'dd/MM/yyyy HH:mm' }}</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

