<!-- post-component.component.html -->
<app-header></app-header>

<div class="post-container">

  <form (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <div class="form-group">
      <textarea  type="text" id="firstName" name="firstName" [(ngModel)]="formData.content" required placeholder="Contenido"></textarea>
    </div>
    <div class="file-upload-container">
      <div class="form-group">
        <!-- Input de tipo archivo oculto -->
        <input type="file" id="Resource" name="Resource" accept="image/video*" required (change)="onFileChange($event)" class="input-file" />

        <!-- Botón de carga personalizado -->
        <label for="Resource" class="custom-file-upload">
          Cargar Archivo
        </label>
      </div>
    </div>

    <button class="post-button" type="submit">Publicar</button>
  </form>

  <div class="post-list">
    <h2>Publicaciones Recientes</h2>
    <div *ngFor="let post of posts" class="post-item">
      <p>{{ post.content }}</p>
      <img class="post-image" src="{{ post.urlResource }}" alt="Imagen">
      <p>Fecha publicacion: {{ post.createdAt }}</p>

    </div>

  </div>
</div>


